<p>ievn2 works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table" *ngIf="alumnos.length"> <!-- *ngIf="alumnos.length" sirve para que no se muestre la tabla si no hay datos -->
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary">Mostrar Imagen</button>
                        </th>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnos">
                        <td>{{alumno.matricula}}</td>
                        <td>{{alumno.nombre}}</td>
                        <td>{{alumno.edad}}</td>
                        <td>{{alumno.correo}}</td>
                        <td>{{alumno.pago | currency}}</td>
                        <td><img [src]="alumno.foto"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
