<div class="container">
  <app-menu></app-menu>
  <div class="row">
<!-- <h1>Hola</h1>
<p>
  {{grupo}}
</p>
  <div class="row">
    <div>EL doble de 3 es{{duplicarN(3)}}</div>

<div><b>Matricula:</b>{{alumnos.matricula}}</div>
<div><b>nombre:</b>{{alumnos.nombre }}</div>
<div><b>fecha Nacimiento:</b>{{alumnos.fechaNacimiento | date: "dd-MM-yy"}}</div>
<div><b>pago:</b>{{alumnos.pago | currency}}</div>
  </div>
</div>

<hr> -->
<!-- <app-grupo></app-grupo> -->
<!-- <app-ievn></app-ievn>  -->
<!-- <app-ievn2></app-ievn2>  -->
<!-- <app-alumno-reactive></app-alumno-reactive> -->
<!--<app-suma></app-suma>
<hr>
<app-operas-bas></app-operas-bas> -->
<router-outlet></router-outlet>
</div>
</div>